h2 😘🙌🥱Uppdatera saken🤑🤑🤑

form action="/#{@special_todos["id"]}/update" method="post" 
    input text="text" name="name" value="#{@special_todos["name"]}"
    input type="text" name="description" value="#{@special_todos["description"]}"
    input type="submit" value="🥱uppdatera"