body {
  font-family: sans-serif;
  color: #16183f;
  background-color: #fece4b;
  font-size: large;
  margin: 1em;

}

img {
  width: 50px;
}

.loda {
  border: 2px solid red;
  border-radius: 3px;
  margin-left: 0.2em;
}

.todoblock{
  border: 2px solid rgb(255, 145, 0);
  border-radius: 3px;
  margin-left: 0.2em;
}